In [1]:
import pandas as pd
import numpy as np
from astropy.table import Table, join

In [2]:
table4 = Table.read('table4.csv')
rv_df  = Table.read('comb_rvs.csv')
# 190212001601338  YSO!!!
rave = Table.read('/Users/maryumsayeed/Downloads/rave_crossmatch.fits')
# rave3 = Table.read('/Users/maryumsayeed/Downloads/rave_2.fit')
rave2 = Table.read('/Users/maryumsayeed/Downloads/rave_gaiaedr3_crossmatch.fits')

In [7]:
join(rave,rv_df,keys_left='source_id',keys_right='dr3_source_id')[['program','RG_id','dr3_source_id']]
# table4

<Table length=5>
program RG_id    dr3_source_id
 int64  int64        int64
------- ----- -------------------
    113    18 5819206285484386304
    113    19 5819262532372445056
    113    21 5921614759823693440
    113    15 6295365979313348480
    113     8 6685651336832264448

In [8]:
join(rave2,rv_df,keys_left='source_id',keys_right='dr3_source_id')[['program','RG_id','dr3_source_id']]

<Table length=5>
program RG_id    dr3_source_id
 int64  int64        int64
------- ----- -------------------
    113    18 5819206285484386304
    113    19 5819262532372445056
    113    21 5921614759823693440
    113    15 6295365979313348480
    113     8 6685651336832264448

In [55]:
xx = join(rave,rv_df,keys_left='source_id',keys_right='dr3_source_id')[['program',
                                                                        'RG_id',
                                                                        'dr3_source_id',
                                                                        'sobject_id']]
xx
# table4

<Table length=5>
program RG_id    dr3_source_id       sobject_id
 int64  int64        int64             int64
------- ----- ------------------- ---------------
    113    18 5819206285484386304 170801002501304
    113    19 5819262532372445056 170615003401088
    113    21 5921614759823693440 160327006601149
    113    15 6295365979313348480 150428000601308
    113     8 6685651336832264448 170517004501165

In [25]:
apogee = Table.read('../../lithium/data/apogee-dr17.tsv',format='ascii.tab',delimiter=';')

In [38]:
# from https://dr19.sdss.org/sas/dr19/spectro/apogee/redux/1.3/summary/
apogee_dr19_visit = Table.read('/Users/maryumsayeed/Downloads/allVisit-1.3-apo25m.fits')
apogee_dr19_star = Table.read('/Users/maryumsayeed/Downloads/allStar-1.3-apo25m.fits')

In [39]:
apogee_dr19.keys()

['apogee_id',
 'target_id',
 'apred_vers',
 'file',
 'uri',
 'fiberid',
 'plate',
 'mjd',
 'telescope',
 'survey',
 'field',
 'programname',
 'ra',
 'dec',
 'glon',
 'glat',
 'jmag',
 'jerr',
 'hmag',
 'herr',
 'kmag',
 'kerr',
 'src_h',
 'pmra',
 'pmdec',
 'pm_src',
 'apogee_target1',
 'apogee_target2',
 'apogee_target3',
 'apogee_target4',
 'catalogid',
 'sdss_id',
 'gaia_release',
 'gaia_plx',
 'gaia_plx_error',
 'gaia_pmra',
 'gaia_pmra_error',
 'gaia_pmdec',
 'gaia_pmdec_error',
 'gaia_gmag',
 'gaia_gerr',
 'gaia_bpmag',
 'gaia_bperr',
 'gaia_rpmag',
 'gaia_rperr',
 'sdssv_apogee_target0',
 'firstcarton',
 'targflags',
 'snr',
 'starflag',
 'starflags',
 'dateobs',
 'jd',
 'starver',
 'bc',
 'vtype',
 'vrel',
 'vrelerr',
 'vrad',
 'chisq',
 'rv_teff',
 'rv_feh',
 'rv_logg',
 'xcorr_vrel',
 'xcorr_vrelerr',
 'xcorr_vrad',
 'n_components',
 'rv_components']

In [33]:
# apogee_dr19#.keys()

In [20]:
in_APOGEE = [ 140707003101315, 160519005201081, 190212001601338]
rv_df_pd = rv_df.to_pandas()
rv_df_pd[rv_df_pd.galah_id.isin(in_APOGEE)][['galah_id','dr3_source_id']]

           galah_id        dr3_source_id
6   190212001601338  3217773074208416640
17  140707003101315  2622883652325300992
20  160519005201081  4376885520774483328

In [10]:
table4[['dr3_source_id','program','RG_id']]
dr3_ids = np.array(table4['dr3_source_id'])

In [11]:
from astroquery.simbad import Simbad

In [13]:
result_table= Simbad.query_objectids("Gaia DR3 5819206285484386304")
result_table= Simbad.query_objectids("GALAH 140707003101315")

result_table

<Table length=7>
             ID
          bytes28
----------------------------
       GALAH 140707003101315
   WISEA J222903.80-062524.5
       ATO J337.2658-06.4234
    WISE J222903.80-062524.4
            UCAC4 418-152796
     2MASS J22290380-0625244
Gaia DR2 2622883652325300992

In [12]:
for star in dr3_ids:
    result_table = Simbad.query_objectids("Gaia DR3 %s" %star)
    result_table = np.array(result_table).astype('str')
#     print(result_table,type(result_table) is None)
    try:
        for i in result_table:
            if 'RAVE' in i: 
                rave_name = np.copy(i)
                print(rave_name)
            elif 'APOGEE' in i:
                apogee_name = np.copy(i)
                print(apogee_name)
    except Exception as e: 
        print(e)

iteration over a 0-d array
RAVE J155133.9-694211
RAVE J161051.2-701108
RAVE J173233.4-533503

/opt/miniconda3/lib/python3.9/site-packages/astroquery/simbad/core.py:135: UserWarning: Warning: The script line number 2 raised an error (recorded in the `errors` attribute of the result table): Identifier not found in the database : Gaia DR3 2622883652325300992
  warnings.warn("Warning: The script line number %i raised "