In [8]:
import pandas as pd
import numpy as np
from astropy.table import Table, join

In [51]:
table4 = Table.read('table4.csv')
rv_df  = Table.read('comb_rvs.csv')

rave = Table.read('/Users/maryumsayeed/Downloads/rave_crossmatch.fits')
# rave3 = Table.read('/Users/maryumsayeed/Downloads/rave_2.fit')
rave2 = Table.read('/Users/maryumsayeed/Downloads/rave_gaiaedr3_crossmatch.fits')

In [25]:
join(rave2,table4,keys_left='source_id',keys_right='dr3_source_id')[['program','RG_id','dr3_source_id']]
# table4

<Table length=3>
program RG_id    dr3_source_id
 int64  int64        int64
------- ----- -------------------
    113    18 5819206285484386304
    113    19 5819262532372445056
    113    21 5921614759823693440

In [55]:
xx = join(rave,rv_df,keys_left='source_id',keys_right='dr3_source_id')[['program','RG_id','dr3_source_id','sobject_id']]
xx
# table4

<Table length=5>
program RG_id    dr3_source_id       sobject_id
 int64  int64        int64             int64
------- ----- ------------------- ---------------
    113    18 5819206285484386304 170801002501304
    113    19 5819262532372445056 170615003401088
    113    21 5921614759823693440 160327006601149
    113    15 6295365979313348480 150428000601308
    113     8 6685651336832264448 170517004501165

In [54]:
in APOGEE: 140707003101315, 160519005201081, 190212001601338

<Table length=5>
program RG_id    dr3_source_id
 int64  int64        int64
------- ----- -------------------
    113    18 5819206285484386304
    113    19 5819262532372445056
    113    21 5921614759823693440
    113    15 6295365979313348480
    113     8 6685651336832264448

In [17]:
table4[['dr3_source_id','program','RG_id']]
dr3_ids = np.array(table4['dr3_source_id'])

In [18]:
from astroquery.simbad import Simbad

In [29]:
result_table= Simbad.query_objectids("Gaia DR3 5819206285484386304")
result_table

<Table length=9>
             ID
          bytes28
----------------------------
Gaia DR3 5819206285484386304
       GALAH 170801002501304
               TIC 451423147
             GSC 09264-01335
             TYC 9264-1335-1
     2MASS J15513385-6942112
       RAVE J155133.9-694211
Gaia DR1 5819206281175504384
Gaia DR2 5819206285484386304

In [ ]:
Simbad.query_objectids(star)

In [47]:
for star in dr3_ids:
    result_table = Simbad.query_objectids("Gaia DR3 %s" %star)
    result_table = np.array(result_table).astype('str')
#     print(result_table,type(result_table) is None)
    try:
        for i in result_table:
            if 'RAVE' in i: 
                rave_name = np.copy(i)
                print(rave_name)
    except Exception as e:
        print(e)

iteration over a 0-d array
RAVE J155133.9-694211
RAVE J161051.2-701108
RAVE J173233.4-533503

/opt/miniconda3/lib/python3.9/site-packages/astroquery/simbad/core.py:135: UserWarning: Warning: The script line number 2 raised an error (recorded in the `errors` attribute of the result table): Identifier not found in the database : Gaia DR3 2622883652325300992
  warnings.warn("Warning: The script line number %i raised "